@page
@model NguyenLeMinhDungFall2024RazorPages.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<p>You are being logged out...</p>

@section Scripts {
    <script>
        // Redirect to home or login page after logout
        window.location.href = '/'; // Thay đổi đường dẫn nếu cần
    </script>
}
